body {
    background-color: #203058;
    color: white;
}

h1 {    

    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 100px;
    padding-left: 100px;

}

.video {
    padding-bottom: 100px;
    padding-left: 700px;
    border: 13px;
    border-color: whitesmoke;
    flex-direction: row;
    text-align: center;
}

.youtube {
    border: 13px;
    border-color: whitesmoke;
    flex-direction: row;
    text-align: start;
    padding-left: 200px;
}

h2 {
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-left: 100px;
}

.ecriture {

    padding-left: 100px;
}

.ecriture2 {
    padding-left: 900px;
 
}

h3 {
    font-size: 50px;
}

p {
    font-weight: normal;
    font-style: normal;
    color: white;
    width: 600px;
    font-size: 25px;

}


.container { 
    position: relative; 
    width: 50%; 
  } 
   
  .overlay { 
    position: absolute; 
    bottom: 100%; 
    left: 0; 
    right: 0; 
    overflow: hidden; 
    width: 2000px; 
    height:0; 
    transition: .5s ease; 
  } 
   
  .container:hover .overlay { 
    bottom: 0; 
    height: 100%; 
  } 
  
  .prop {

    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .prop2 {

  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(50%, -50%);
  text-align: center;
  }
  
  .prop3 {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-150%, -50%);
  text-align: center;
  }
  
  .image { 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(350%, 0%);
  }

  .text {

    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text2 {

    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 63%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text3 {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 37%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }
  
  .audio {

    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
  
  } 

  .logo {

    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);

  }

  .images {

    position: absolute;
    bottom: -50%;
    right: 50%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(60%, 250%);

  }

.primo {

    position: absolute;
    bottom: -100%;
    right: 50%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(50%, 200%);

}

