body {
    background-color: darkblue;
    color: white;
}

h1 {
    font-family: 'HYWenHei-85W';
    src: url('HYWenHei-HEW.woff2') format('woff2'),
        url('HYWenHei-HEW.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: white;

}

video {
    flex-direction: column;
}

