

body{
    background-image: url(images/background_monstadt.webp );
    height: 900px;
    color: white
    ;

    }
    .contact{
        display: flex;
       gap: 150px;
       
    }

/*style du titre*/

h1{
    text-align: center;

}


/*styles pour les fieldsets*/

.nomcomplet{
    background-color: darkblue;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
}

.info{
    background-color: darkblue;
    width: fit-content;

}

.question{
    background-color: darkblue;
    width: fit-content;
}

/*styles pour les checkbox*/

.perso{
    display: flex;
   padding-bottom: 10px;
    align-items: baseline;
}

/*styles pour les textbox*/

.firstname{
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;

}

/*style pour les boutons*/

.button{
    color: white;
    background-color: #301934;
    width: 10em;
    height: 5em;
    margin-top: 50px;
}

.container { 
    position: relative; 
    width: 50%; 
  } 
   
  .overlay { 
    position: absolute; 
    bottom: 100%; 
    left: 0; 
    right: 0; 
    overflow: hidden; 
    width: 2000px; 
    height:0; 
    transition: .5s ease; 
  } 
   
  .container:hover .overlay { 
    bottom: 0; 
    height: 100%; 
  } 
  
  .prop {
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .prop2 {
    flex-direction: column;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(50%, -50%);
  text-align: center;
  }
  
  .prop3 {
    flex-direction: column;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-150%, -50%);
  text-align: center;
  }
  
  .image { 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(350%, 0%);
  }

  .text {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text2 {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 63%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text3 {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 37%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }
  
  .audio {
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
  
  } 

  .logo {

    flex-direction: column;
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 5%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);

  }

  