body{
    background-color: #203058;
    width: 1000px;
}


h1{
    color: white;
}

h2{
    align-self: center;
}



/*styles pour les flexbox de rangés*/

 .anemodendro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 50px;
    width: 1800px;
    gap: 200px;
    
    
    
}

.cryoelectro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 200px;
    width: 1800px;
    margin-top: 50px;
    
    

    
}

.titre{
    color: white;  
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 1800px;
    gap: 480px;
}


/*styles pour les elements*/

.anemo{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 750px;
    
    
    
}

.dendro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;

}
    

.cryo{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 750px;
    
}

.electro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 750px;
}

/*styles pour les personnages*/

.traveler{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 100px;
    border: 2px solid white;
    margin-bottom: 100px;
    border-radius: 10px;
    background-image: url("images/traveler_background.png");
    padding-right: 10px;
      
 }

.jean{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.venti{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.xiao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.sayu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.sucrose{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;

}


.alhaitham{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.baizhu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.kaveh{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.tighnari{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.yaoyao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}


.wriothesly{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.diona{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.qiqi{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.eula{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.rosaria{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}


.cyno{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.keqing{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.fischl{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.yaemiko{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

.razor{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 130px;
    height: 330px;
    padding-left: 10px;
}

/*styles pour les images de personnages*/

.images{
    width: 110px;
    height: 110px;
    
}

.perso{
    display: flex;
    gap: 25px;
    

}

.container { 
    position: relative; 
    width: 50%; 
  } 
   
  .overlay { 
    position: absolute; 
    bottom: 100%; 
    left: 0; 
    right: 0; 
    overflow: hidden; 
    width: 2000px; 
    height:0; 
    transition: .5s ease; 
  } 
   
  .container:hover .overlay { 
    bottom: 0; 
    height: 100%; 
  } 
  
  .prop {
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .prop2 {
    flex-direction: column;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(50%, -50%);
  text-align: center;
  }
  
  .prop3 {
    flex-direction: column;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-150%, -50%);
  text-align: center;
  }
  
  .image { 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(350%, 0%);
  }

  .text {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text2 {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 63%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }

  .text3 {
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 37%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 120%);
    text-align: center;
  }
  
  .audio {
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
  
  } 

  .logo {

    flex-direction: column;
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 5%;
    -webkit-user-modify: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);

  }
