

body{
    background-image: url(images/background_monstadt.webp );
    height: 900px;
    color: white
    ;

    }
    .contact{
        display: flex;
       gap: 150px;
       
    }

/*style du titre*/

h1{
    text-align: center;

}


/*styles pour les fieldsets*/

.nomcomplet{
    background-color: darkblue;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
}

.info{
    background-color: darkblue;
    width: fit-content;

}

.question{
    background-color: darkblue;
    width: fit-content;
}

/*styles pour les checkbox*/

.perso{
    display: flex;
   padding-bottom: 10px;
    align-items: baseline;
}

/*styles pour les textbox*/

.firstname{
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;

}

/*style pour les boutons*/

.button{
    color: white;
    background-color: #301934;
    width: 10em;
    height: 5em;
    margin-top: 50px;
}