body{
    background-color: #203058;
}

.traveler{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
      
 }

 .anemodendro{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.anemo{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.jean{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.venti{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.xiao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.sayu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.sucrose{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.alhaitham{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.baizhu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.kaveh{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.tighnari{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.yaoyao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.wriothesly{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.diona{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.qiqi{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.eula{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.rosaria{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.cyno{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.keqing{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.fischl{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.yaemiko{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.razor{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}