body{
    background-color: #203058;
    width: 1000px;
}


h1{
    color: white;
}



/*styles pour les flexbox de rangés*/

 .anemodendro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 100px;
    width: 1000px;
    
    
}

.cryoelectro{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 1000px;
    
}

.titre{
    color: white;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 1000px;
}


/*styles pour les elements*/

.anemo{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.dendro{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cryo{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.electro{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*styles pour les personnages*/

.traveler{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
    border: 2px solid white;
    margin-bottom: 100px;
    border-radius: 10px;
      
 }

.jean{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.venti{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.xiao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.sayu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.sucrose{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;

}


.alhaitham{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.baizhu{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.kaveh{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.tighnari{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.yaoyao{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
}


.wriothesly{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.diona{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.qiqi{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.eula{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.rosaria{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
}


.cyno{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.keqing{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.fischl{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.yaemiko{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.razor{
    color: white;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
}

/*styles pour les images*/

.images{
    width: 110px;
    height: 110px;
}